rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow full access during development
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    // Allow full access during development
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}